PORT=3900
BASE_URL=http://localhost:3900          # public URL Assistable will call
DATA_DIR=./data
ENCRYPTION_KEY=                          # base64 of 32 random bytes: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
MOCK_ASSISTABLE=1                        # 1 = log v3 calls instead of sending
ASSISTABLE_API_BASE=https://apiv3.createassistants.com
NODE_ENV=development
